@import '~antd/dist/antd.css';

#root {
	height: 100%;
	min-height: 100%;
}
body {
	background: #edeef0;
}
.ant-layout {
	min-height: 100%;
	padding-bottom: 24px;
	background: #edeef0;
}
.ant-layout-header {
	height: 52px;
	line-height: 52px;
	padding: 0;
	background: #001529;
	box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.05);
}
.container {
	padding: 0 24px;
	max-width: 1780px;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box {
	padding: 24px;
	background: #fff;
	border-radius: 8px;
	margin-top: 26px;
	box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.05);
}
.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ant-table-thead {
	position: sticky;
	top: 0px;
	z-index: 1;
}
.project-table .ant-table-thead > tr > th {
	text-align: center;
	font-weight: 600;
}
.project-actions {
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.alert-fixed {
	position: fixed;
	z-index: 999;
	top: 30px;
	right: 30px;
	min-width: 200px;
}
.login {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #edeef0;
	padding: 0 15px;
}
.login-form {
	max-width: 310px;
	width: 100%;
}
.login-form .ant-input-prefix {
	margin-right: 6px;
}
.login-form .site-form-item-icon {
	color: rgba(0, 0, 0, 0.25);
}
.login .ant-alert {
	margin-bottom: 25px;
}
.login-form-button {
	width: 100%;
}
.btn-logout {
	width: 100%;
	text-align: left;
	padding: 5px 12px;
	border: none;
}
.btn-link {
	margin: 0;
	padding: 0;
	height: auto;
	border: none;
}
.ant-layout-header .ant-avatar {
	cursor: pointer;
}
.ant-table-pagination.ant-pagination {
	margin: 24px 0 0 0;
}
.form-modal-textarea {
	resize: none;
}
.user-box {
	display: flex;
	align-items: center;
}
