@import '~antd/dist/antd.css';

#root {
	height: 100%;
	min-height: 100%;
}
body {
	background: #edeef0;
}
.ant-layout {
	min-height: 100%;
	/* padding-bottom: 24px; */
	/* background: #edeef0; */
}
.ant-layout-header {
	height: 48px;
	line-height: 48px;
	padding: 0 16px;
	width: 100%;
	z-index: 100;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* .container {
	padding: 0 24px;
	max-width: 1780px;
	margin: 0 auto;
	width: 100%;
	position: relative;
} */
/* .header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
} */
.box {
	margin: 24px 24px 0;
	padding: 24px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}
.box.box--compact {
	padding: 0;
}
.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ant-table-thead {
	position: sticky;
	top: 0px;
	z-index: 1;
}
.project-table .ant-table-thead > tr > th {
	text-align: center;
	font-weight: 600;
}
.project-table-description + .project-table-description {
	margin-top: 10px;
}
.project-table-description span {
	font-weight: 600;
}
.project-actions {
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.alert-fixed {
	position: fixed;
	z-index: 999;
	top: 30px;
	right: 30px;
	min-width: 200px;
}
.login {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #edeef0;
	padding: 0 15px;
}
.login-form {
	max-width: 310px;
	width: 100%;
}
.login-form .ant-input-prefix {
	margin-right: 6px;
}
.login-form .site-form-item-icon {
	color: rgba(0, 0, 0, 0.25);
}
.login .ant-alert {
	margin-bottom: 25px;
}
.login-form-button {
	width: 100%;
}
.btn-logout {
	background: transparent;
	/* margin-left: 4px; */
	padding: 0 12px;
	color: rgba(255, 255, 255, 0.65);
	border: none;
	cursor: pointer;
	font-size: 16px;
	transition: 0.2s ease;
}
.btn-logout:hover {
	background-color: #252a3d;
}
.btn-logout .anticon-export {
	cursor: pointer !important;
}
.btn-link {
	margin: 0;
	padding: 0;
	height: auto;
	border: none;
}
.ant-layout-header .ant-avatar {
	cursor: pointer;
}
.ant-table-pagination.ant-pagination {
	margin: 24px 0 0 0;
}
.form-modal-textarea {
	resize: none;
}
.user-box {
	display: flex;
	align-items: center;
	padding: 0 12px;
	cursor: pointer;
	transition: 0.2s ease;
}
.user-box:hover {
	background-color: #252a3d;
}
.ant-table-cell.actions {
	width: 88px !important;
	min-width: 88px !important;
	max-width: 88px !important;
}
.ant-transfer.transfer-list .ant-transfer-list {
	height: 250px;
	width: 280px;
}
.fixed-resource-submit {
	height: 48px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	width: calc(100% - 210px);
	padding: 0 24px;
	margin: 0;
	line-height: 48px;
	background: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	box-shadow: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05),
		0 -12px 48px 16px rgba(0, 0, 0, 0.03);
	transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fixed-resource-submit .ant-form-item-control-input-content {
	text-align: right;
}
.fixed-resource-submit.long {
	width: calc(100% - 80px);
}
.ant-layout-sider-trigger {
	background: #fff;
	border-right: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	color: rgba(0, 0, 0, 0.85);
	transition: 0.2s ease;
}
.ant-layout-sider-trigger:hover {
	background: #fafafa;
}
.d-flex {
	display: flex;
}
.menu {
	height: 100%;
	/* z-index: 999; */
	/* box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05) !important; */
}
.page-header {
	background-color: #fff;
	padding-top: 12px;
}
.logo {
	color: #fff;
	display: flex;
	align-items: center;
	height: 100%;
}
.logo img {
	height: 34px;
}
.logo h1 {
	height: 32px;
	margin: 0 0 0 12px;
	color: #fff;
	opacity: 0.9;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
}
.page-t {
	position: absolute;
	left: 15px;
	right: 15px;
}

.page-t-enter {
	opacity: 0;
	transform: scale(1.1);
}

.page-t-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
}

.page-t-exit {
	opacity: 1;
	transform: scale(1);
}

.page-t-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}
